#startOverlay {
  background-color: rgba(0,0,0,0.95);
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#thankYouText {
  height: 2rem;
}

#errMsg {
  height: 1rem;
}

img {
  max-height: 400px;
  max-width: 400px;
}

.col {
  padding-left: 0;
}